.idea
CH341SER
DigisparkWindowsDriver
/ArdublocklySketch/
appdata
node_modules
notepad++
ArdublocklySketch
ardublockly.log
ArdublocklySketch/ArdublocklySketch/ArdublocklySketch.ino
ServerCompilerSettings.ini
test.py